@Model Crudjeudi.Context.customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.firstname - @Model.lastname</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.mobile</h6>
        <p class="card-text">@Model.email</p>
        <a href="#" class="card-link">Editer</a>
    </div>
</div>